
#tables > table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    page-break-after: always;
}
th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    font-size:x-small;
    font-family: 'trade-gothic-next';
}

th{
    text-align: center  ;
}

#print-table{
   width: 100%;
   border: none;
}
#print-table > tbody > tr > td, #print-table > thead > tr > td {
    border: none;
}

#length{
    text-align: center;
    width: 3%;
}
#start, #end, #break, #lunch, #break2{
    text-align: center  ;
}

#break, #lunch, #break2{
    width: 5%;
}

#label{
    width: 10%;
}

#job{
    width: 10%;
}

#start, #end{
    width: 7%;
}

#date{
    font-size: large;
    text-align: center;
    font-family: 'trade-gothic-next-condensed';
}

#tables > table thead {
    background-color: #0A75C1;
    color: white;
}

#notes{
    width: 20%;
}

#title{
    text-align: center;
    font-size: xx-large;
    font-family: 'trade-gothic-next-condensed';
}

@media print {
    header{
        display: none;
    }
    @page {
        margin-top:0.8in;
        margin-bottom: 1.4in;
    }
}

