
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    page-break-after: always;
}
th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    font-size:x-small;
    font-family: 'trade-gothic-next';
}
#date{
    font-size: large;
    text-align: center;
    font-family: 'trade-gothic-next-condensed';
}

thead {
    background-color: #0A75C1;
    color: white;
}

#notes{
    width: 20%;
}

#title{
    text-align: center;
    font-size: xx-large;
    font-family: 'trade-gothic-next-condensed';
}