
#tables > table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    page-break-after: always;
}
th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    font-size:x-small;
    font-family: 'trade-gothic-next';
}

th{
    text-align: center  ;
}

#print-table{
   width: 100%;
   border: none;
}
#print-table > tbody > tr > td, #print-table > thead > tr > td {
    border: none;
}

#length{
    text-align: center;
    width: 3%;
}
#start, #end{
    text-align: center  ;
}

#break, #lunch, #break2{
    width: 7%;
}

#label{
    width: 10%;
}

#job{
    width: 10%;
}

#start, #end{
    width: 7%;
}

#date{
    font-size: large;
    text-align: center;
    font-family: 'trade-gothic-next-condensed';
}

#tables > table thead {
    print-color-adjust: exact;
    background-color: #0A75C1;
    color: white;
}

#notes{
    width: 20%;
}

#title{
    text-align: center;
    font-size: xx-large;
    font-family: 'trade-gothic-next-condensed';
}
header{
    width: fit-content;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.089);
    border: 1px solid rgba(0, 0, 0, 0.144);
    margin: 15px auto;
    background-color: white;
    font-family: 'trade-gothic-next';
}
button{
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: "trade-gothic-next";
    text-decoration: none;
    font-size: 24px;
    border-radius: .2rem;
    transition: background-color .2s;
}
button:hover{
    background-color: rgb(82, 82, 82);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media print {
    header{
        display: none;
    }
    @page {
        margin-top:0.8in;
        margin-bottom: 1.4in;
    }
}

